# Introduction

Welcome to my final project for the data science course! In this project, I will be showcasing my knowledge and skills acquired throughout the course using Jupyterlite Notebook. This notebook serves as a platform to demonstrate various data science concepts and techniques.

Throughout this project, you can expect to find an overview of data science languages, libraries, and tools. I will provide examples of arithmetic expressions and demonstrate how to perform basic operations using code cells.

# Introduction to Data Science with Jupyter Notebook

# Data Science Languages

- Python
- R
- SQL

# Data Science Libraries

- Pandas
- NumPy
- Matplotlib

# Data Science Tools

| Tool       | Description                                    |
|------------|------------------------------------------------|
| Jupyter    | Interactive computing environment              |
| TensorFlow | Open-source machine learning framework         |
| scikit-learn | Machine learning library for Python           |
| Spark      | Distributed computing framework                |
| Tableau    | Data visualization software                    |
| SQL        | Database query language                        |

# Arithmetic Expression Examples

In this section, we'll explore some examples of arithmetic expressions using code cells. These examples will demonstrate basic arithmetic operations such as addition, subtraction, multiplication, and division. We'll also showcase how to use variables in expressions and explore the order of operations.

In [1]:
# Multiply and add numbers
num1 = 2
num2 = 4

# Multiplication
result_multiply = num1 * num2
print("Multiplication result:", result_multiply)

# Addition
result_addition = num1 + num2
print("Addition result:", result_addition)

Multiplication result: 8
Addition result: 6

In [2]:
# Multiply and add numbers
num1 = 5
num2 = 10

# Multiplication
result_multiply = num1 * num2

# Addition
result_addition = num1 + num2

result_multiply, result_addition

(50, 15)

In [3]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60

hours

2.0

# Objectives

The objectives of this project are as follows:

1. Demonstrate proficiency in using Jupyterlite Notebook for data science projects.
2. Showcase knowledge of data science languages, libraries, and tools.
3. Provide examples of arithmetic expressions and code cells.
4. Create a publicly shareable notebook on GitHub to showcase the final project.

# Author
Carlos Toro